body {
  background-color: blanchedalmond;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green; */
  height: 600px;
  position: relative;
  width: 600px;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%);
}

.front, .back {
  height: 550px;
  width: 450px;
  border: 2px solid #000;
}
.front{
  position: absolute;
  background: #131842;
}

.front .message{
  font-size: 20px;
  margin: 5px;
  color: #fff;
  padding: 5px;
}

.front .name{
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  margin: 5px;
  padding: 5px;
}

.back{
  position: absolute;
  background: linear-gradient(90deg,#EB5B00 65%,#FFB200 35%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.show{
    transform:rotateY(90deg);
    transition: transform linear 0.2s;
}
.back .text{
  font-size: 35px;
  font-weight: 800;
}

.back button{
  background-color: #000;
  border: 0;
  outline: 0;
  padding: 10px 30px;
  font-weight: 600;
  border-radius: 50px;
  color: white;
}

@media (max-width: 450px){
  .front, .back {
    height: 450px;
    width: 350px;
    border: 2px solid #000;
  }

  .back .text{
    font-size: 15px;
    font-weight: 800;
  }

  .front .message{
    font-size: 15px;
    margin: 5px;
    color: #fff;
    padding: 5px;
  }
  
  .front .name{
    font-size: 25px;
    font-weight: 900;
    color: #fff;
    margin: 5px;
    padding: 5px;
  }
}